%section#body_content
  %section#body
    .inner
      %p.lead
        = image_tag("logo.png")
        Welcome to the ENTIS website!
    %hr
    .last-news-item
      = render '/refinery/news/items/item', item: (last_item = Refinery::News::Item.latest(1).first) if last_item
    %hr
    %ul.thumbnails
      %li.span2
        %a.thumbnail
          = image_tag("es.png")
          Español
        %a.thumbnail
          = image_tag("it.png")
          Italiano
      %li.span4
        %a.thumbnail
          = image_tag("europ.jpg")
      %li.span2
        %a.thumbnail
          = image_tag("de.png")
          Deutsch
        %a.thumbnail
          = image_tag("gb.png")
          English

= content_for :footer do
  Flag icons from
  = link_to "icondrawer.com", "http://www.icondrawer.com"
  %br
