<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav">
      <%= nav_item(nil, "Private Home") %>
      <%= nav_item("archive") %>
      <%= nav_item("agenda") %>
      <%= nav_item("current-topics") %>
      <%= nav_item("photos") %>
    </ul>
  </div>
</div>

<% content_for :side_body do %>
  <ul class="media-list">
    <% @page.images.each_with_index do |image, index| %>
      <li class="media">
        <%= link_to image_tag(image.thumbnail("200x200#c").url, class: "media-object"), image.thumbnail("900x600").url, class: "pull-left" %>
        <div class="media-body">
          <%=raw @page.caption_for_image_index(index) %>
        </div>
      </li>
   <% end %>
  </ul>
<% end %>
<%= render '/refinery/content_page' %>
