.row
  .span4
    %p.muted= t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name)
    = yield :footer
  .span4
    %ul
      %li= link_to "Home", "/"
      %li= link_to "About us", "/about-us"
      %li= link_to "Contact", "/contact"

  .span4
    = link_to "#header", class: "btn anchor" do
      %i.icon-chevron-up
      = t('.back-to-top')
