<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<%= favicon_link_tag %>
<body>
  <%= site_bar %>
  <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ %>
  <header id="page_header" class="container"><%= render '/refinery/header' %></header>
  <div id="page" class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3">
        <div id="side_menu"><%= render '/refinery/side_menu' %></div>
      </div>
    </div>
    <div id="push"></div>
  </div>
  <footer id="page_header">
    <div class="container"><%= render '/refinery/footer' %></div>
  </footer>
  <%= render '/refinery/javascripts' %>
</body>
