<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<%= favicon_link_tag %>
<body>
  <%= site_bar %>
  <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ %>
  <%= render '/refinery/header' %>
  <div id="backtotop_anchor"></div>
  <div class="container-fluid" role="main">
    <div class="row-fluid">
      <div class="span9"><%= yield %></div>
      <div class="span3">
        <div id="side_menu"><%= render '/refinery/side_menu' %></div>
      </div>
    </div>
  </div>
  <div class="bottombar">
    <div class="bottombar-inner">
      <div class="container">
        <%= render '/refinery/footer' %>
      </div>
    </div>
  </div>
  <%= render '/refinery/javascripts' %>
</body>
